*~
*#
.#*
elpa
auto-save-list
ac-comphist.dat
recentf
smex-items
ido.last
/bookmarks
srecode-map.el
*.swp
/projectile.cache
/eww-bookmarks
/projectile-bookmarks.eld
/url/cache/PUJIE/http/com/youdao/fanyi/a9f4826aee494eeaea4641b2290203ea
/url/cache/PUJIE/http/org/melpa/2e93b598a8da777f3cbd9405c49bb016
/url/cache/PUJIE/http/org/melpa/6165ae4af006c8bd62b0017ad2c4527b
