*~
*#
.#*
elpa
auto-save-list
ac-comphist.dat
recentf
smex-items
ido.last
/bookmarks
srecode-map.el
*.swp
/projectile.cache
/eww-bookmarks
/projectile-bookmarks.eld
/url/*
.emacs.desktop
.emacs.desktop.lock
.session
SessionDesktop.el
